:root {
    --main_color: #151826;
    --red-color: #8B0000;
    --orange-color: #e64b3b;
    --gray-color: #777777;
    --white-color: #d5d5d8;
    --black-color: #040407;
    --green-color: green;
    --blue-color: #0ABAB5;
}